.clothes-section {
}

.clothes-section__header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 16px;
}

.clothes-section__your-items {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  padding-right: 20px;
  margin: 0px;
}

.clothes-section__button {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  opacity: 60%;
  line-height: 24.8px;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 17px;
}
